
<h1>{{ user.name }}</h1>

{{user.types}}

<p>Types:</p>
<div ng-repeat="type in user.types">
	 <span ng-show="!editing[$index]">{{type}}</span>

    <button ng-show="!editing[$index]" ng-click="edit($index, 'types')">edit</button>
    <button ng-show="!editing[$index]" ng-click="remove($index, 'types')">remove</button>

    <input ng-show="editing[$index]" type="text" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="user.types[$index]">
    <button ng-show="editing[$index]" ng-click="update($index, 'types')">update</button>
    <button ng-show="editing[$index]" ng-click="cancel($index, 'types')">cancel</button>
</div>
<input type="text" ng-model="types">
<button ng-click="updateArr('types')">Add Tag</button><br><br>

<p>Tags:</p>
<div ng-repeat="tag in user.tags">
	 <span ng-show="!editing[$index]">{{tag}}</span>

    <button ng-show="!editing[$index]" ng-click="edit($index, 'tags')">edit</button>
    <button ng-show="!editing[$index]" ng-click="remove($index, 'tags')">remove</button>

    <input ng-show="editing[$index]" type="text" ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }" ng-model="user.tags[$index]">
    <button ng-show="editing[$index]" ng-click="update($index, 'tags')">update</button>
    <button ng-show="editing[$index]" ng-click="cancel($index, 'tags')">cancel</button>
</div>
<input type="text" ng-model="tags">
<button ng-click="updateArr('tags')">Add Tag</button><br><br>

<div>
<p>Araaay: {{user}} </p></div>

Items: {{items}}<br><br>

Outfits: {{outfits}}
