
<h1>{{ user.user.name }}</h1>

<p>Types:</p>
<div ng-repeat="type in user.types"> {{type}}</div>
<input type="text" ng-model="types">
<button ng-click="updateArr('types')">Add Tag</button><br><br>

<p>Tags:</p>
<div ng-repeat="tag in user.tags"> {{tag}}</div>
<input type="text" ng-model="tags">
<button ng-click="updateArr('tags')">Add Tag</button><br><br>

<div>
<p>Araaay: {{user}} </p></div>
<!-- 
<div ng-repeat="notes in todo.notes">
	{{ notes }}<br>
</div><br>
notes: <input type="text" ng-model="newNote"><br><br>
<button ng-click="updateArr()">Add</button><br><br>

<div ng-repeat="sak in todo.saker.two">
	{{ sak }}<br>
</div><br>
ettor: <input type="text" ng-model="newSakOne"><br><br>
tvåor: <input type="text" ng-model="newSakTwo"><br><br>
<button ng-click="updateObjArr()">Add</button>

<button ng-click="remove()">remove</button>
<a href="/">Cancel</a>
 -->