<!doctype html>
<html>
<head>
    <title>Clueless Closet</title>
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/mobile.css' />
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <style>
        body {
            background-image: none;
        }
    </style>
</head>
<body>
<div class="container">


    <div id="front">
        <h1 class="big">Clueless Closet</h1>

        <div id="pitch">
            <h2> - a closet app that keeps you style certain.</h2>
        </div>
        
        <div id="login" class="divider">
            <h3><a href="/login">Clueless Login</a></h3> /           
            <h3><a href="/auth/facebook">Facebook Login</a></h3>
          </div>         
            <a href="/signup">Register</a><br>  
           
        
        <h1 class="divider no-bg">About</h1>
        <div id="about">
            <h2>Clueless when it comes to styling?<br>
            Closet full of clothes, nothing to wear? Traveling with only a carry-on? Always snoozing until the last minute and struggling to get out the door on time?
            <br><br>

            Create your own virtual wardrobe and let the app randomize an outfit for you. Like what you’re seeing? Save it! Tag and categorize for different seasons and events and you’ll always have a collection of perfect outfits ready to take the day (or night) in! </h2>
        </div>

        <h1 class="divider no-bg">The Movie / the App</h1>
            <h4>Clueless is a <a href="http://www.imdb.com/title/tt0112697/" target="new">movie</a> from 1995 starring Alicia Silverstone and you can pretty much say it's the all-time highschool classic. 
            The best part of the whole movie is this clip of her (then) unbelievable closet app from the intro:</h4>
            <div id="video">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XNDubWJU0aU" frameborder="0" allowfullscreen></iframe>
            </div><br><br>

            <h4>And now here it is - right at you fingertips,<br> in proper 90's style!<br>
            Upload pictures of the items in your wardrobe, sort and tag by season/type/color for easy access or even create a separate work closet... 
            </h4>
            <img class="front-img" src="/img/sp.png"><br><br>

            <h4>Use the Outfit Generator to randomize outfits based on the item types you've picked.  </h4>
            <img class="front-img" src="/img/sp2.png"><br><br>

            <h4>To prevent fashion failures, mis-match the items that don't go together and your Outfit Generator will get even smarter over time. </h4>
            <img class="front-img" src="/img/sp3.png">

            <div class="divider">
                <h1 class="no-bg"><a href="/signup">Try it out!</a></h1>
            </div>
    </div>        
</div>
<div id="footer" class="plaid">
    <h3><a href="http://lovisa.li" target="new">created by Lovisa Nilsson Junemo</a></h3>   
</div>

</body>
</html>