<!DOCTYPE html>
<html ng-app="CC">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />

    <!-- Angular Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
  </head>
  <body>


	<ng-view></ng-view>
		

	<script src="controllers/controller.js"></script>
	    
  </body>
</html>
