<!DOCTYPE html>
<html ng-app="CC">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />

    <!-- Angular Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
  </head>
  <body>
  <a href="/#/">start</a><br><br>

	<ng-view></ng-view>
		

  <script src="angular/app.js"></script>
  <script src="angular/user/userCtrl.js"></script>
  <script src="angular/item/itemCtrl.js"></script>
	<script src="angular/outfit/outfitCtrl.js"></script>
	    
  </body>
</html>
