<!doctype html>
<html>
<head>
    <title>Clueless Closet - Login</title>
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/mobile.css' />
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <style>
        body {
            background-image: none;
        }
    </style>
</head>
<body>
<div id="front" class="container">

    <div id="form" class="plaid">

        <h1>Login</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div><h3><%= message %></h3></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="email">
            </div><br>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <br>
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

    </div>
    <div>

        <h4>Need an account? </h4><a href="/signup">Register</a>
        <h4>Or go <a href="/">back</a>.</h4>

    </div>

</div>
</body>
</html>