<!DOCTYPE html>
<html ng-app="CC">
  <head>
    <title></title>
    <link rel='stylesheet' href='/css/style.css' />

    <!-- Angular Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
  </head>
  <body>

  <div class="container">

        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
       <!-- LOCAL INFORMATION -->
     <% if (user.local.email) { %>
      <p>
          <strong>id</strong>: <%= user._id %><br>
      </p>
          
          <a href="/unlink/local" class="btn btn-default">Unlink</a>
      <% } else { %>
          <a href="/connect/local" class="btn btn-default">Connect Local</a>
      <% } %>

        <!-- FACEBOOK INFORMATION -->
          <!-- check if the user has this token (is the user authenticated with this social account) -->
          <% if (user.facebook.token) { %>
              <p>
                  <strong>id</strong>: <%= user._id %><br>
                  <strong>name</strong>: <%= user.facebook.name %><br>
              </p>

              <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
          <% } else { %>
              <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
          <% } %>
   
</div>

  <a href="/profile#/">start</a><br><br>
  
	<ng-view>
  <div ng-init="userId = '<%= user._id %>'"></div>
  </ng-view>
		

  <script src="angular/app.js"></script>
  <script src="angular/item/itemCtrl.js"></script>
  <script src="angular/outfit/outfitCtrl.js"></script>
  <script src="angular/closet/closetCtrl.js"></script>
  <script src="angular/type/typeCtrl.js"></script>
  <script src="angular/tag/tagCtrl.js"></script>
	    
  </body>
</html>
