<!doctype html>
<html>
<head>
    <title>Clueless Closet - Login</title>
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/mobile.css' />
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <style>
        body {
            background-image: none;
        }
    </style>
</head>
<body>
<div id="front" class="container">

    <div id="form" class="plaid">

        <h1> Signup</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div><h3><%= message %></h3></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
           <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Name">
            </div><br>
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div><br>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <br>
            <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>
    </div>
    <div>
        <h4>Already have an account?</h4>
        <a href="/login">Login</a> / <a href="/auth/facebook">Facebook Login</a>
        <h4>Or go <a href="/">back</a>.</h4>
    </div>

</div>

</div>
</body>
</html>