img: {{item.img}}<br>
type: 
<ul>
	<li ng-repeat="type in user.types | orderBy:'toString()'">
    	<button ng-show="!inArray('types', type)" ng-click="push('types', type)">add {{type}}</button>
    	<button ng-show="inArray('types', type)" ng-click="splice('types', type)">REMOVE {{type}}</button>
	</li>
</ul>
<input type="text" ng-model="types">
<button ng-click="updateArr('types')">Add Type</button><br><br>

tag:
<ul>
	<li ng-repeat="tag in user.tags | orderBy:'toString()'">
    	<button ng-show="!inArray('tags', tag)" ng-click="push('tags', tag)">add {{tag}}</button>
    	<button ng-show="inArray('tags', tag)" ng-click="splice('tags', tag)">REMOVE {{tag}}</button>
	</li>
</ul>
<input type="text" ng-model="tags">
<button ng-click="updateArr('tags')">Add Tag</button><br><br>
<br>
{{item}}<br><br>

<div ng-show="item.missmatch.length">
	Miss Matched with:
	<div ng-repeat="itemId in item.missmatch">
		<div ng-repeat="item in items | filter : {_id: itemId} ">
			<a href="#/item/{{item._id}}">{{item.img}}</a>
		</div>
	</div>
</div>
<br><br>

<button ng-click="save()">Save</button>
<button ng-click="remove()">REMOVE</button>
