<button onclick="location.href='#/items';">Skip!</button><br>

<h1 class="divider">Add garment types:</h1>
<div id="edit">
	<div class="padding wide" ng-repeat="type in types">
		<div ng-repeat="(parent, array) in type">
			<span ng-hide="parent == 'owner' || parent == '_id' || parent == '__v'">
				<button ng-click="show = !show">{{parent}}</button><br>
				<div ng-repeat="child in array track by $index" ng-show="show">
					<button ng-show="!inArray('types', child)" ng-click="push('types', child)">{{child}}</button>
		    		<button class="active" ng-show="inArray('types', child)" ng-click="splice('types', child)">{{child}}</button>
				</div>
				<div ng-show="show">
				<input type="text" ng-model="types[parent]" placeholder="write"><br>
				<button ng-click="addToArr('types', parent)" ng-disabled="!types[parent].length">Add type</button>
				</div>
				<br><br>
			</span>
		</div>
	</div>
</div>


<h1 class="divider">Tag item:</h1>
<div id="edit">
	<div class="padding wide" ng-repeat="tag in tags">
		<div ng-repeat="(parent, array) in tag">
			<span ng-hide="parent == 'owner' || parent == '_id' || parent == '__v'">
				<button ng-click="show = !show">{{parent}}</button><br>
				<div ng-repeat="child in array track by $index" ng-show="show">
					<button ng-show="!inArray('tags', child)" ng-click="push('tags', child)">{{child}}</button>
		    		<button class="active" ng-show="inArray('tags', child)" ng-click="splice('tags', child)">{{child}}</button>
				</div>
				<div ng-show="show">
				<input type="text" ng-model="tags[parent]" placeholder="write"><br>
				<button ng-click="addToArr('tags', parent)" ng-disabled="!tags[parent].length">Add tag</button>
				</div>
				<br><br>
			</span>
		</div>
	</div>
</div>

<button ng-click="save2()">Save</button>