/*ALL*/
	@font-face {
	    font-family: 'Chicago';
	    src: url('fonts/chicago.eot');
	    src: url('fonts/chicago.eot?#iefix') format('embedded-opentype'),
	         url('fonts/chicago.woff') format('woff'),
	         url('fonts/chicago.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}

	body {
		height: 100%;
		padding: 0px;
		margin: 0px;
		background-image: url("/img/bg.png");
		background-repeat: repeat-y repeat-x;
		font-family: 'Chicago';
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}

	h1 {
		display: inline-block;
		background: #000;
		color: #fff;
		size: 30px;
		padding: 7px;
	}

	h3 {
		display: inline-block;
		background: #fff;
		color: #000;
		size: 15px;
		padding: 5px;
		margin: 7px 2px;
	}

	a {
		color: #000;
		text-decoration: none;
	}

	img {
		border: 7px solid #bbb;
		border-style: outset;
	}

	ul, li {
		display: inline-block;
		padding: 0px;
		margin: 0px;
	}

	input, input[type=submit], input[type=file], input[type=button], select, option, button, .button {
		font-family: 'Chicago';
		text-transform: uppercase;
		font-weight: bold;
		font-size: 20px;
		background: #ccc;
		border: 7px solid #bbb;
		border-style: outset;
		padding: 5px;
		cursor: pointer;
		outline: none;
	}

	select {
		height: 53px;
	}

	input[type=file] {
		width: 300px;
	}

	input[type=submit]:hover, input[type=file]:hover, input[type=button]:hover, select:hover, option:hover, button:hover, .button:hover, .outfit:hover{
		background: #597cfd;
		border-color: #3c62f0;
	}

	.small-button {
		background: #111;
		color: #fff;
		font-size: 12px;
		border: 4px solid #000;
		margin: 3px;
	}

	input[type=submit]:active, input[type=file]:active, input[type=button]:active, select:active, option:active, button:active, .button:active, .active, .outfit:active {
		background: #597cfd;
		border-color: #3c62f0;
		border-style: inset;
	}

	input {
		background: #fff;
		border-color: #eee;
		border-style: inset;
		cursor: text;
	}

	button:disabled {
		background: #ccc;
		border-color: #bbb;
		cursor: default;
	}

	.different {
		background: #555;
		border-color: #666;
	}

/*FRONT*/

	#front {
		width: 600px;
		margin: auto;
		padding: 10px;
	}
		#front h2, #front h4 {
			font-family: 'Arvo', arial, sans-serif;
			font-size: 18px;
			text-transform: none;
			font-weight: normal;
		}
		#front a:hover {
			color: #f7d300;
		}

	.big {
		font-size: 50px;
	}

	.no-bg {
		background: none;
		color: #000;
	}

	#pitch {
		margin: -20px;
	}

	#pitch h2 {
		font-size: 15px;
		font-weight: bold;
	}

	#video {
		max-width: 100%;
		margin: auto;
	}

	#login, .plaid {
		background-image: url('/img/plaid.png');
		padding: 15px;
	}

	#form {
		max-width: 600px;
		margin: auto;
		margin-top: 70px;
	}

/*HEADER*/
	#mobile-header {
		display: none;
	}

	#header {
		position: fixed;
		top: 0px;
		width: 100%;
		background: #000;
		color: #fff;
		padding: 1px;
		z-index: 10;

	}
		#header div {
			display: inline-block;
		}

		#header h2 {
			margin: 8px 0 0 0;
		}

	#container {
		width: 100%;
		margin-top: 70px;
		margin-bottom: 30px;
	}

/*START*/
	#menu button {
		margin: 3px;
		width: 240px;
	}

/*ITEM*/
	#top-buttons {
		width: 80%;
		height: 70px;
		margin: auto;
	}

	#item-feed {
		position: relative;
		width: 90%;
		margin: auto;
	}

	#size-buttons {
		margin: 20px;
	}
		.small img {
			height: 100px;
		}

		.medium img {
			height: 200px;
		}

		.large img {
			height: 300px;
		}

	.item {
		position: relative;
		display: inline-block;
	}
		.item img {
			margin: 3px;
		}

		.item img:hover {
			cursor: pointer;
			border-color: #3c62f0;
		}
		.item img:active {
			cursor: pointer;
			border-color: #3c62f0;
			border-style: inset;
		}
		.item input[type=checkbox] {
			height: 30px;
			width: 30px;
			cursor: pointer;
		}

	div.checkbox {
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 1;
	}

	div.check {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1;
	}

	.display-none {
		display: none;
	}
	
	.checked {
		display: inline-block;
	}

	#item-wrapper {
		max-width: 900px;
		margin: auto;
		text-align: center;
	}
		#item-wrapper div {
			display: inline-block;
			margin: auto;
		}

	#single {
		width: 400px;
	}
		#single img {
			width: 100%;
		}

	#type-tag {
		width: 400px;
		padding-top: 50px;
		vertical-align: top;
	}

/*OUTFIT*/

	#outfit-feed {
		max-width: 800px;
		margin: auto;
	}

	.outfit {
		border: 7px solid #bbb;
		border-style: outset;
		display: inline-block;
		margin: 10px;
	}
		.outfit img {
			border: none;
		}
		.outfit div {
			display: inline-block;
			margin: 0px;
		}

		.osmall, .osmall img {
			height: 100px;
		}

		.omedium, .omedium img {
			height: 200px;
		}

		.olarge, .olarge img {
			height: 300px;
		}

	#generator {
		position: relative;
		max-width: 750px;
		margin: auto;
	}

	div.repeater, div.repeater2, div.repeater3 {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	div.repeater3 {
		z-index: -2;
	}

	.item-block {
		position: relative;
		width: 200px;
		height: 200px;
		display: inline-block;	
		margin: 10px 0 10px 27px;
		border: 7px solid #bbb;
		border-style: outset;
		vertical-align: top;
		float: left;			
	}
		.item-block img {
			height: 100%;
			height: 100%;
			border: none;
		}

		.item-block select, .item-block .different {
			width: 130px;
			height: 36px;
			font-size: 12px;
			padding: 2px;
			margin: 2px;
		}

	div.generator-checkbox {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.generator-checkbox input[type=checkbox] {
		height: 30px;
		width: 30px;
		cursor: pointer;
	}

	.bg-border {
		background: #fff;
	}

	.no-frame {
		border: none;
	}
		.no-frame button {
			font-size: 40px;
			width: 80px;
			margin-top: 40px;
		}

	.center {
		margin-top: 70px;
	}

	#mismatch h1 {
		position: fixed;
		top: 150px;
		left: 50%;
		margin-left: -310px;
		width: 600px;
		font-size: 80px;
		background: #6378fd;
		border: 7px solid #222;
		border-style: outset;
		z-index: 5;
	}
		#mismatch h1:hover {
			background: #000;
		}

	#type {
		max-width: 500px;
	}

/*CLOSET*/
	#closets {
		width: 70%;
		margin: auto;
	}
		#closets .button {
			font-size: 50px;
			margin: 20px;
		}

/*POP-UPS*/
	.pop-up {
		position: fixed;
		top: 100px;
		left: 50%;
		margin-left: -200px;
		min-height: 300px;
		max-height: 400px;
		width: 400px;
		background: #fff;
		border: 5px solid #ccc;
		border-style: ridge;
		z-index: 12;
	}

	#banner {
		height: 30px;
		background: #000;
		color: #fff;
		padding: 3px;
	}
		#banner p {
			float: left;
			text-align: left;
			margin: 5px;
		}
		#banner button, .close {
			float: right;
			height: 30px;
			width: 30px;
			font-size: 12px;
			padding: 2px;
		}

	#popup-content {
		width: 100%;
		margin: 0px;
		max-height: 364px;
		overflow: auto;
	}
		#popup-content input[type=text], #edit input[type=text]{
			width: 176px;
		}

	.wide button {
		width: 200px;
	}

	.shadow {
		box-shadow: 7px 7px 7px #000;
	}

/*HACKS*/
	.left {
		float: left;
		margin-left: 5px;
	}

	.right {
		float: right;
		margin-right: 5px;
	}

	.hidden {
		visibility: hidden;
	}

	.none {
		display: none;
	}

	.show {
		visibility: visible;
	}

	.block {
		display: block;
	}

	.inline {
		display: inline-block;
	}

	.divider {
		margin: 100px auto 10px auto;
	}

	.clear {
		clear: both;
	}

	.padding {
		margin: 20px;
	}

	

	