<div ng-repeat="block in blocks">
	Item {{block}}:
<div ng-repeat="type in types">
	<div ng-repeat="(parent, array) in type">
		<span ng-hide="parent == 'owner' || parent == '_id' || parent == '__v'">
			{{parent}}
			<select ng-init="block" ng-model="types.add[block]">
				<option ng-repeat="child in array track by $index" value="{{child}}">{{child}}</option>
			</select> 
		</span>
	</div>
</div>
	<button ng-click="findItems(block)">ok</button>
	<br>
	{{arr}}
</div>
<button ng-click="newBlock()">new Item</button>

<br>total: {{coll}}<br>
<br><br>

<button ng-click="randomize()">Create Outfit!</button>
<button ng-click="saveOutfit()">Save!</button>


<div ng-repeat="item in outfitItems">
	<input type="checkbox" ng-model="miss" ng-change="clicking($index)">
	<img ng-src="./uploads/{{item.img}}" width="100px">
</div>

<button ng-click="missMatch()">Miss Match!</button>


<div ng-repeat="outfit in outfits">		
	<div class="outfit">
		<div ng-repeat="itemId in outfit.items">
			<a href="#/outfit/{{outfit._id}}">		
				<div ng-repeat="item in items | filter : {_id: itemId}" class="small">
					<img ng-src="./uploads/{{item.img}}">
				</div>	
			</a>	
		</div>
	</div>
</div>