<div ng-repeat="block in blocks" ng-controller="CreateOutfitCtrl">
	Item {{block}}:
	<select ng-init="block" ng-model="option">
		<option ng-repeat="type in user.types | orderBy:'toString()'" value="{{type}}">{{type}}</option>
	</select> 
	<button ng-click="findItems()">ok</button>
	<br>
	{{arr}}
</div>
<button ng-click="newBlock()">new Item</button>

<br>total: {{coll}}<br>
<br><br>


<button ng-click="randomize()">Create Outfit!</button>
<button ng-click="saveOutfit()">Save!</button>


<div ng-repeat="item in outfitItems">
	<input type="checkbox" ng-model="miss" ng-change="clicking($index)">
	{{item.img}}
</div>

<!-- <button ng-click="missMatch()">Miss Match!</button> -->


<ul ng-repeat="outfit in outfits">
	<li>
		<a href="#/outfit/{{outfit._id}}">
		<div ng-repeat="itemId in outfit.items">
			<div ng-repeat="item in items | filter : {_id: itemId} ">{{item.img}}</div>
		</div>
		</a>
	</li>
</ul>