<div ng-show="!allItems.length">
	<h3>You need to create some items before you can use this!</h3>
</div>
<br><br>

<select ng-model="choose.closet" ng-change="chooseCloset()">
<option selected="true" disabled="disabled" value="">Choose closet</option>
<option value="all">All items</option>
<option ng-repeat="closet in closets" value="{{closet._id}}">{{closet.name}}</option>
</select>
<button ng-click="randomize(); miss.check = false" ng-disabled="!coll.length">Generate Outfit!</button>
<button ng-click="saveOutfit()" ng-disabled="!outfitItems.length">Save!</button>
<button ng-click="missMatch(); showPopUp='show'" ng-disabled="clicked.length < 2">Mis-Match!</button>

<div id="generator">
	<div class="repeater2">
		<div ng-repeat="item in outfitItems" class="item-block">
			<img class="" ng-src="./uploads/{{item.img}}">
		</div>
	</div>

	<div class="repeater">
		<div class="item-block" ng-repeat="block in blocks">

			<div class="generator-checkbox">
				<input type="checkbox" ng-show="outfitItems[block-1]._id" ng-model="miss.check[block]" ng-change="clicking('clicked', outfitItems[block-1]._id)">
			</div>

			<button class="small-button" ng-class="showButton" ng-click="showTypes='inline'; showButton='none'" ng-show="!types.add[block]">Garment type</button>
			<button class="small-button" ng-class="showButton" ng-click="showTypes='inline'; showButton='none'" ng-show="types.add[block]">{{types.add[block]}}</button>

			<div ng-repeat="type in types" class="none" ng-class="showTypes">
				<div ng-repeat="(parent, array) in type">
					<span ng-hide="parent == 'owner' || parent == '_id' || parent == '__v'">
						<select ng-init="block" ng-model="types.add[block]" ng-change="findItems(block)">
							<option selected="true" disabled="disabled" value="">{{parent}}</option>
							<option value="{{parent}}">all {{parent}}</option>
							<option ng-repeat="child in array track by $index" value="{{child}}">{{child}}</option>
						</select> 
					</span>
				</div>
			</div>

			<button class="different none" ng-class="showTypes" ng-click="showButton='inline'; showTypes='none'">close</button>

		</div>
		<div class="item-block no-frame">
		<button ng-click="newBlock()"> + </button><br>
		<h3>Add an item</h3>
		</div>
	</div>

	<div class="repeater3">
		<div class="item-block bg-border" ng-repeat="block in blocks">
		<h1 class="center">{{block}}</h1>
		</div>
	</div>
</div>

<div id="mismatch" class="hidden" ng-class="showPopUp">
	<h1 class="shadow" ng-click="showPopUp='hidden'">Mis-Match!</h1>
</div>