<div ng-repeat="itemId in outfit.items">
	<div ng-repeat="item in items | filter : {_id: itemId} ">
		<a href="#/item/{{item._id}}"><img ng-src="./uploads/{{item.img}}"></a>
	</div>
</div>

tag:
<div ng-repeat="tag in tags">
	<div ng-repeat="(parent, array) in tag">
		<span ng-hide="parent == 'owner' || parent == '_id' || parent == '__v'">
			<h4>{{parent}}</h4>
			<div ng-repeat="child in array track by $index">
				<button ng-show="!inArray('tags', child)" ng-click="push('tags', child)">add {{child}}</button>
	    		<button ng-show="inArray('tags', child)" ng-click="splice('tags', child)">REMOVE {{child}}</button>
			</div>
				<!-- <input type="text" ng-model="types[parent]">
				<button ng-click="addToArr(parent)">Add type</button><br><br> -->
		</span>
	</div>
</div>
<br><br>


{{outfit}}<br><br>


<button ng-click="save()">Save</button>
<button ng-click="remove()">REMOVE</button>
